body{
    background: #eee;
}

form{
    max-width: 200px;
    margin: 40px auto;
    background: #fff;
    padding: 10px;

}

input{
    display: block;
    margin: 10px auto;
    padding: 4px auto;
}

.error{
    border: 2px solid crimson;
}

.success{
    border: 2px solid limegreen;
}